<footer class="site-footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href="https://twitter.com/username" target="_blank" rel="noopener">Twitter</a></li>
      <li><a href="https://facebook.com/username" target="_blank" rel="noopener">Facebook</a></li>
    </ul>
    <p><i class="fa fa-code" aria-hidden="true"></i> with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://bantenprov.go.id" target="_blank" rel="noopener">bantenprov.go.id</a>.</p>
    <p>Document licensed <a href="https://github.com/bantenprov/document-management-system/blob/master/LICENSE" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>
